
body {

	background-color: wheat;
	font-size: 16PX;
	font-family: sans-serif;

}

.navbar{
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
}
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #FC5F06;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
  border: none;
}

#nav-list {
  color: white;
}



.item {
  color: white;
  font-size: 1.8em;
}
/* END HEADER */

/* HOME PAGE */

.container {

	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#home-tiles .item-text {
    background: #5e5e5e;
    padding: 10px;
}

#home-tiles .item-text p {
    font-size: 1.3em;
    font-weight: 400;
}

/* END OF HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-brand h1 { /* Restaurant name */
        padding-top: 10px;
        font-size: 4vw; /* 1vw = 1% of viewport width */
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
	   }
    /* End Header */

    /* Home Page */
    .menu-item-description {
        text-align: center;;
        }
      }